@import "../../config/style-base.scss";

.page-nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $length-medium;
  &__button {
    width: 33.3333%;
    padding: calc(#{$length-small * 0.8}) $length-small;
    background-color: transparent;
    border: $border;
    color: #eee;
    font-size: $font-medium;
    box-sizing: border-box;
    &--inactive {
      border-color: #eee !important;
    }
    &--active {
      border: $border;
      background-color: #fff;
      color: gray;
      &:active {
        transform: $transform;
      }
      &:hover {
        cursor: pointer;
        color: $gray;
        border: $border-hover;
        box-shadow: $shadow;
      }
    }
  }
}

@media (max-width: 600px) {
  .page-nav {
    display: flex;
    flex-direction: column;
    &__button {
      margin-top: $length-small;
      width: 100%;
    }
    &__label {
      margin-top: $length-medium;
    }
  }
}
