@import "../../../config/style-base.scss";

.photos {
  display: grid;
  margin-top: $length-medium;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: calc(#{$length-medium} / 3);
  width: 100%;
  .image {
    width: 100%;
    max-width: 100%;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
      box-shadow: $shadow;
    }
  }
}

@media (max-width: 1024px) {
  .photos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .photos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .photos {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
  }
}
