@import "../../../config/style-base.scss";

.photo-tile {
  position: relative;
  margin: 0;
  &__title {
    padding: calc(#{$length-small * 0.6666}) $length-small;
    background-color: #fafafa;
    max-width: 50%;
    top: 0;
    left: 0;
    position: absolute;
    font-size: $font-small;
    border-bottom-right-radius: $length-small;
  }
}
