.link:-webkit-any-link {
  color: gray;
  text-decoration: none;
  &:hover {
    color: black;
    cursor: pointer;
  }
  &:active {
    transform: scale(0.97);
  }
}

:focus {
  outline: none;
}

.uppercase {
  text-transform: uppercase;
}

.text-normal {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fafafa;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.footer-bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 30px;
  background-color: #ffffff;
  color: #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

  .copyright {
    text-align: left;
  }
  .app-name {
    text-align: right;
  }
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  &__item {
    width: 50%;
  }
}
