@import "../../config/style-base.scss";

.page-nav {
  &__button {
    width: 33.3333%;
    padding: calc(#{$length-small} * 0.8) calc(#{$length-medium} / 2);
    background-color: transparent;
    border: $border;
    color: #eee;
    font-size: $font-medium;
    box-sizing: border-box;
    &:hover {
      border-color: $smog;
    }
    &--inactive {
      border-color: #eee !important;
    }
    &--active {
      border: $border-hover;
      background-color: $white;
      color: gray;
      &:active {
        transform: $transform;
      }
      &:hover {
        cursor: pointer;
        color: $gray;
        border: $border-hover;
        box-shadow: $shadow;
      }
    }
  }
}
@media (max-width: 600px) {
  .page-nav {
    &__button {
      margin-top: $length-small;
      width: 100%;
    }
  }
}
