@import "../../config/style-base.scss";
@import "../../config/mixins-base.scss";

.page-nav {
  &__button {
    @include nav-button;

    &--inactive {
      border-color: $light-gray !important;
    }
    &--active {
      border: $border-hover;
      background-color: $white;
      color: $gray;
      &:active {
        transform: $transform;
      }
      &:hover {
        cursor: pointer;
        color: $light-black;
        border: $border-hover;
        box-shadow: $shadow;
      }
    }
  }
}

@media (max-width: 600px) {
  .page-nav {
    &__button {
      margin-top: $length-small;
      width: 100%;
    }
  }
}
