@import "../../config/style-base.scss";

.results {
  margin-top: $length-medium;
}

.key {
  border-radius: $length-tiny;
  margin-left: $length-tiny;
  padding: $length-tiny;
  color: $gray;
  border: 1px solid $gray;
  background-color: $white;
}

.text-alert {
  padding: calc(#{$length-medium * 3}) 0;
  font-size: $font-big;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
