.page-nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.page-nav__button {
  width: 33.3333%;
  padding: 12px 15px;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  color: #eee;
  font-size: 14px;
  box-sizing: border-box;
}

.page-nav__button:hover {
  border-color: #f0f0f0;
}

.page-nav__button--inactive {
  border-color: #eee !important;
}

.page-nav__button--active {
  border: 1px solid #f5f5f5;
  background-color: #fff;
  color: gray;
}

.page-nav__button--active:active {
  transform: scale(0.97);
}

.page-nav__button--active:hover {
  cursor: pointer;
  color: #333;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
