.filter {
  display: flex;
  align-items: center;

  &__label {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: gray;
  }
}

.filters {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
