@import "../../config/style-base.scss";

.toast {
  &__font {
    margin-left: $length-medium;
    font-family: $font-main;
  }

  &--danger {
    color: $red;
    background-color: $light-red;
    box-shadow: $shadow;
    &__progress-bar {
      background: $red;
    }
  }

  &--secondary {
    color: $secondary;
    background-color: $light-secondary;
    box-shadow: $shadow;
    &__progress-bar {
      background: $secondary;
    }
  }

  &--success {
    color: $green;
    background-color: $light-green;
    box-shadow: $shadow;
    &__progress-bar {
      background: $green;
    }
  }
}
